.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1{
  color: #38b11f;
}

h1, p, input, textarea{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.post-content {
  border: 2px solid black;
  position: relative;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
}

button{
  border: 2px solid black;
  color: whitesmoke;
  
  background: rgba(0,0,0, 1);
  padding: 10px;
  cursor: pointer;
  font-weight: bolder;
}

.post-it-btn{
  background: yellowgreen;
  font-weight: bolder;
  width: 100%;
}

.see-comments-btn{
  background-color: hsl(203, 79%, 49%);
}

.hide-comments-btn{
  background-color: hsla(291, 63%, 56%, 0.728);
}

.comment-btn{
  background-color: rgba(13, 154, 25, 0.796);
}

.submit-changes-btn{
  background-color: rgba(13, 154, 25, 0.796);
}

.cancel-changes-btn {
 background-color: darkred;
}

input {
  
  padding: 20px;
  border: 2px solid rgb(10, 19, 118);
  font-weight: bolder;
  
}

textarea{
  padding: 20px;
  border: 2px solid rgb(10, 19, 118);
  font-weight: bold;
 
}

.post-inputs-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
}


.editing-inputs{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.edit-post-span{
  cursor: pointer;
  color: orange;
  font-weight: bolder;
}

.post-id-span{
  position: absolute;
  left: 5px;
}



.delete-post-span{
  
  position: absolute;
  right: 5px;
  color: red;
  cursor: pointer;
  font-weight: bolder;
}

.comment p span{
  color: red;
  cursor: pointer;
 

}